# UID/GID pour la gestion des fichiers dans les conteneurs
PUID=1000
PGID=1000

# Fuseau horaire
TZ=Europe/Paris

# Ports exposés
DNS_PORT=53
DHCP_PORT=67

# IP fixes des nœuds DNS/DHCP sur le LAN principal (10.10.0.0/19)
IP_DNS_NODE=10.10.33.1
IP_DHCP_NODE=10.10.33.2
IP_POSTGRES_NODE=10.10.33.3
IP_K8S_NODE=10.10.33.5

# Configuration LAN
LAN_SUBNET=10.10.0.0
# /19 pour 5000 hôtes max
LAN_NETMASK=255.255.224.0
LAN_RANGE_START=10.10.0.10
LAN_RANGE_END=10.10.31.254
LAN_GATEWAY=10.10.0.1
LAN_DNS=10.10.33.1

# DNS récursif externe
UPSTREAM_DNS1=1.1.1.1
UPSTREAM_DNS2=8.8.8.8

# Domaine interne
LOCAL_DOMAIN=rer.utbm.lan

# Sous-réseaux spécifiques pour DNS et DHCP
VPN_SUBNET=10.10.32.0/26
DNS_SUBNET=10.10.33.1/32
DHCP_SUBNET=10.10.33.2/32
