version: "3.9"

services:
  backend:
    build: .
    env_file:
      - ./backend.univ.env
      - ./backend.local.env
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - "${API_PORT}:8000"
    volumes:
      - ./:/app
    command: >
      bash -c "python manage.py migrate &&
               python manage.py runserver 0.0.0.0:8000"
    restart: unless-stopped
    networks:
      lan-local:
        ipv4_address: ${IP_BACKEND_NODE}

networks:
  lan-local:
    external: true
    name: ${LAN_NETWORK_NAME:-lan-local}
