# Local deployment-specific variables (do NOT commit secrets in real projects)
# Copy this file to `wireguard.local.env` and edit local-only values.

# User/Group 
PUID=1000
PGID=1000

# Timezone
TZ=Europe/Paris

# Wireguard server settings
SERVERPORT=51820
PEERS=0
PEERDNS=1.1.1.1

# Any variables that should NOT be generated per-university can go here.
