# UID/GID pour les fichiers
PUID=${PUID:-1000}
PGID=${PGID:-1000}

# Fuseau horaire
TZ=${TZ:-Europe/Paris}

# WireGuard
SERVERURL=${SERVERURL:-auto}
SERVERPORT=${SERVERPORT:-51820}
PEERS=${PEERS:-1}
PEERDNS=${PEERDNS:-1.1.1.1}
# VPN subnet optimisé
INTERNAL_SUBNET=${INTERNAL_SUBNET:-10.10.32.0/26}


# IP fixes sur le LAN et VPN
# passerelle LAN pour le VPN
IP_WG_LAN=${IP_WG_LAN:-10.10.32.1}
# IP du serveur WireGuard dans le VPN
IP_WG_VPN=${IP_WG_VPN:-10.10.32.10}